# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_DB_PASSWORD=keycloak

# FastAPI
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=oauth2-demo
KEYCLOAK_CLIENT_ID=oauth2-demo-app
